<h1 class= "title">Welcome to Sparrow</h1>

 <div class="center">
     <%= button_to "All Posts", posts_path, method: :get %> 
     <%= button_to "New Post", new_post_path, method: :get %>
 </div>


